
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-app="sxb">
    <div ng-controller="GetSYS_USER">
        <h2>{{users}}</h2>
    </div>
</div>

<script type="text/javascript">
    var ajsxb = angular.module('sxb', []);

    ajsxb.controller('GetSYS_USER',
        function ($scope,$http) {
            var sysusers = $http.get('../../SYS_USER/GetSYS_USER');
            sysusers.success(function (data, status, headers, config) {
                $scope.users = data;
            });
        }
    );

</script>