
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div ng-app="sxb">
    <div  ng-controller="GetSYS_USER">
        <table class="table table-bordered">
            <tbody ng-repeat="user in users" ng-click="selectUser(user)" ng-switch on="isSelected(user)">
                <tr>
                    <td>{{user.USERNAME}}</td>
                    <td>{{user.USERCODE}}</td>
                </tr>
                <tr ng-switch-when="true">
                    <td colspan="2">{{user.USERNAME}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var ajsxb = angular.module('sxb', []);

    ajsxb.controller('GetSYS_USER',
        function ($scope,$http) {
            var sysusers = $http.get('../../SYS_USER/GetSYS_USER');
            sysusers.success(function (data, status, headers, config) {
                $scope.users = data;
            });

            $scope.selectUser = function (user) {
                $scope.selectedUser = user;
            };

            $scope.isSelected = function (user) {
                return $scope.selectedUser === user;
            };
        }
    );

</script>