
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<div>
    <h1>添加用户</h1>
    <label>用户名</label>
    <input type="text" ng-model="user.USERNAME" />

    <label>密码</label>
    <input type="password" ng-model="user.PASSWORD" />

    <label>确认密码</label>
    <input type="password" ng-model="repeatPASSWORD" />

    <label>编号</label>
    <input type="text" ng-model="user.USERCODE" />

    <label>备注</label>
    <input type="text" ng-model="user.REMARK" />

    <pre ng-bind="user | json"></pre>
</div>

<div ng-app="sxb">
    <table class="table table-bordered table-striped" ng-controller="GetSYS_USER">
        <thead>
            <tr>
                <th>名称</th>
                <th>编码</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in itemuser =( users | pagination:pageHelper.pageNo:pageHelper.pageSize)" ng-click="selectUser(user)" ng-switch on="isSelected(user)">
            <tr>
                <td>{{user.USERNAME}}</td>
                <td>{{user.USERCODE}}</td>
            </tr>
            <tr ng-switch-when="true">
                <td colspan="2">{{user.USERNAME}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="i in getNum(pageHelper.pageCount) track by $index">
                                <a href="#" ng-click="setPageNo($index)">{{$index + 1}}</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li>
                                <input type="text" ng-model="pageHelper.pageSize" ng-required="true"/>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
    <p></p>
    <table class="table table-bordered table-hover" ng-controller="UserCtrl">
        <thead>
            <tr>
                <th>名称</th>
                <th>编码</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in itemuser =( users | pagination:1:5)"
               ng-click="toggleSelected()" ng-switch on="isSelected()">
            <tr>
                <td>{{user.USERNAME}}</td>
                <td>{{user.USERCODE}}</td>
            </tr>
            <tr ng-switch-when="true">
                <td colspan="2">{{user.USERNAME}}</td>
            </tr>
        </tbody>
    </table>
    <p>过滤</p>
    <div class="well">
        <label>
            过滤：<input type="text" ng-model="criteria" />
        </label>
    </div>
    <table class="table table-bordered" ng-controller="fuser">
        <thead>
            <tr>
                <th ng-click="sort('ROW_ID')">
                    ROW_ID
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isSortUp('ROW_ID'),
                       'glyphicon glyphicon-chevron-down': isSortDown('ROW_ID')}"></i>
                </th>
                <th ng-click="sort('USERNAME')">
                    名称
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isSortUp('USERNAME'),
                       'glyphicon glyphicon-chevron-down': isSortDown('USERNAME')}"></i>
                </th>
                <th ng-click="sort('USERCODE')">
                    编号
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isSortUp('USERCODE'),
                       'glyphicon glyphicon-chevron-down': isSortDown('USERCODE')}"></i>
                </th>
                <th ng-click="sort('PASSWORD')">
                    密码
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isSortUp('PASSWORD'),
                       'glyphicon glyphicon-chevron-down': isSortDown('PASSWORD')}"></i>
                </th>
                <th ng-click="sort('REMARK')">
                    备注
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isSortUp('REMARK'),
                       'glyphicon glyphicon-chevron-down': isSortDown('REMARK')}"></i>
                </th>
                <th ng-click="sort('CREATEDATE')">
                    创建时间
                    <i ng-class="{'glyphicon glyphicon-chevron-up': isSortUp('CREATEDATE'),
                       'glyphicon glyphicon-chevron-down': isSortDown('CREATEDATE')}"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            @*<tr ng-repeat="item in users | filter: { $ : criteria }">*@
            <tr ng-repeat="item in filteredusers =(users| filter: { $ : criteria } | orderBy: sortField: reverse)">
                <td>{{item.ROW_ID}}</td>
                <td>{{item.USERNAME}}</td>
                <td>{{item.USERCODE}}</td>
                <td>{{item.PASSWORD}}</td>
                <td>{{item.REMARK}}</td>
                <td>{{jsonDateFormat(item.CREATEDATE,'yyyy-MM-dd')}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                @*<td colspan="6">ToTal：{{ (users| filter: { $ : criteria }).length}}</td>*@
                <td colspan="6">ToTal：{{ filteredusers.length}}</td> @*不直观*@
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    var ajsxb = angular.module('sxb', []);
    //异步ajax请求服务器获取数据，$q data是异步返回的,必须使用$q的promise，增加了cache：true 开启 缓存机制多次调用1次获取
    ajsxb.factory('Users',
        function ($http, $q) {
            return {
                UsersQ: function () {
                    var Udefer = $q.defer();
                    $http.get('../../SYS_USER/GetSYS_USER', { cache: true })
                        .success(function (data, status, headers, config) {
                            Udefer.resolve(data);
                        });
                    return Udefer.promise;
                }
            };
        }
    );

    //分页过滤
    ajsxb.filter('pagination',
        function () {
            return function (inputArray, selectPage, pageSize) {
                if (inputArray === undefined)
                    return;
                var start = selectPage * pageSize;
                return inputArray.slice(start, start + pageSize);
            };
        }
    );

    //table1 点击展示详细
    ajsxb.controller('GetSYS_USER',
        function ($scope, Users) {
            $scope.pageHelper = {
                pageNo: 0,
                pageSize: 5,
                pageCount: 1
            };

            Users.UsersQ().then(function (data) {
                $scope.users = data;
                $scope.pageHelper.pageCount = Math.ceil(data.length / $scope.pageHelper.pageSize);
            });
            //on-click点击选择选中行
            $scope.selectUser = function (user) {
                $scope.selectedUser = user;
            };
            //判断是否选中行加载ng-swith-when
            $scope.isSelected = function (user) {
                return $scope.selectedUser === user;
            };

            //创建页数数组用于repeat
            $scope.getNum = function (num) {
                return new Array(num);
            };

            $scope.setPageNo = function (num) {
                $scope.pageHelper.pageNo = num ;
            };
        }
    );

    //table2
    ajsxb.controller('UserCtrl',
        function ($scope, Users) {
            Users.UsersQ().then(function (data) {
                $scope.users = data
            });

            $scope.toggleSelected = function () {
                $scope.selected = !$scope.selected;
            };

            $scope.isSelected = function () {
                return $scope.selected;
            };
        }
    );

    //过滤 filter
    ajsxb.controller('fuser',
        function ($scope, Users) {
            Users.UsersQ().then(function (data) {
                $scope.users = data
            });

            $scope.jsonDateFormat = jsonDateFormat;
            //初始化 排序对象
            $scope.sortField = undefined;
            $scope.reverse = false;

            //点击排序事件
            $scope.sort = function (fieldName) {
                if ($scope.sortField === fieldName) {
                    $scope.reverse = !$scope.reverse;//逆排
                } else {
                    $scope.sortField = fieldName;//设置排序列
                    $scope.reverse = false;//默认值排序
                }
            };

            //ng-class icon-chevron-up
            $scope.isSortUp = function (fieldName) {
                return $scope.sortField === fieldName && !$scope.reverse;
            };
            $scope.isSortDown = function (fieldName) {
                return $scope.sortField === fieldName && $scope.reverse;
            };
        }
    );

    //日期转换函数
    function jsonDateFormat(jsonDate) {//json日期格式转换为正常格式
        try {//出自http://www.cnblogs.com/ahjesus 尊重作者辛苦劳动成果,转载请注明出处,谢谢!
            var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            var milliseconds = date.getMilliseconds();
            return date.getFullYear() + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds + "." + milliseconds;
        } catch (ex) {//出自http://www.cnblogs.com/ahjesus 尊重作者辛苦劳动成果,转载请注明出处,谢谢!
            return "";
        }
    }
</script>